* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}

#product-overview {
  background: #ff1b68;
  width: 100%;
  height: 548px;
  padding: 10px;
}
.section-title {
  color: #2ddf5c;
}

h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
  background: rgb(12, 231, 12);
  width: 100%;
  padding: 8px 16px;
}

/* giving style to our header text */

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header_brand {
  color: #e97312;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
/* styling nav */
.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}
.main-nav_items {
  margin: 0;
  padding: 0;
}

.main-nav_item {
  display: inline-block;
  margin: 0 16px;
}
/* styling anchor tag */
.main-nav_item a {
  text-decoration: none;
}
/* styling anchor tag with psuedo element using content */
.main-nav_item a::after {
  content: " (Link)";
  color: red;
}
/* psuedo classes */
.main-nav_item a:hover {
  color: white;
}
.main-nav_item a:hover {
  color: white;
}
/* change the color of the first letter of the paragraph using psuedo element */
p::first-letter {
  color: red;
  font-size: 22px;
}
