body {
  font-family: sans-serif;
}

nav {
  margin-bottom: 16px;
  background: #fa923f;
  padding: 8px 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
/* combined selector 
a.active =>anchor element which has a class active
if you put a white space between a .active =>which means ->
a is a parent of the element of active class
we can combine an id=>a#id
*/

a.active {
  color: purple;
}
/* combined class */
.main-section {
  height: 800px;
  border: 1px solid #ccc;
  padding: 16px;
}
.highlighted {
  border: 2px solid orangered;
}
