body {
  font-family: sans-serif;
}

nav {
  margin-bottom: 16px;
  background: #fa923f;
  padding: 8px 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 10px;
}
/* same section has two class
it override by the style assigned not the class assigned in the HTML
here highlighted class border win because style assigned after the main */
/* .highlighted {
  border: 2px solid orangered;
} */

.main-section {
  height: 800px;
  border: 1px solid #ccc;
  padding: 16px;
}
.highlighted {
  border: 2px solid orangered;
}
